.swiper-button-next {
  color: #ffba08;
}

.swiper-button-prev {
  color: #ffba08;
}

.swiper-pagination-bullet {
  color: #999999;
  background: #999999;
  height: 20px;
  width: 20px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  color: #ffba08;
  background: #ffba08;
  height: 20px;
  width: 20px;
  opacity: 1;
}
